/* Custom CSS for the 404 page */
body {
    background-color: #f8f9fa;
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.error-text {
    font-size: 4rem;
    font-weight: bold;
    color: #dc3545;
}

.error-description {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20px;
}

.back-to-home {
    margin-top: 20px;
}

.forbidden-message {
    font-size: 2rem;
    color: #dc3545; /* Red color for emphasis */
    font-weight: bold;
}

.forbidden-description {
    font-size: 1.2rem;
    margin-top: 20px;
}

.list-group-item .btn{
    --bs-badge-padding-x: 0.65em;
    --bs-badge-padding-y: 0.35em;
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 700;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size: var(--bs-badge-font-size);
    font-weight: var(--bs-badge-font-weight);
    line-height: 1;
}
/* canvas {
    display: block;
    filter: url("#meta");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  } */

iframe, #fons{
    width: 100%;
    height: 100vh;
    overflow:hidden;
}
#fons{
    position: relative;
}
#sakums{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
#fons, #sakums{
    display: grid;
    place-items: center;
}
#call-to-action{
    display: grid;
    justify-items: center;
    gap:3em;
}

#filter{
    display:flex;
    gap:1em;
    margin-bottom: 1em;
}
#filter select{
    max-width: fit-content;
}

#edit-nosaukums img{
    width: 0.5em;
    transition: scale 200ms;
}

#edit-nosaukums{
    background: none;
    border: none;
}
#edit-nosaukums:hover img{
    scale: 1.3;
}

#taskList .list-group-item .text-decoration-line-through{
    color: #a0a0a0;
}